<f:section name="grid_33-33-33">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '0'} )}">
        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:0}" />
    </f:if>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '1'} )}">
                    <div class="grid-x grid-margin-x">
                        <div class="cell">
                            <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:1}" />
                        </div>
                    </div>
                </f:if>
                <div class="grid-x grid-margin-x">
                    <div class="small-12 large-4 cell">
                        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:2}" />
                    </div>
                    <div class="small-12 large-4 cell">
                        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:3}" />
                    </div>
                    <div class="small-12 large-4 cell">
                        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:4}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="grid_33-66">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '0'} )}">
        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:0}" />
    </f:if>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '1'} )}">
                    <div class="grid-x grid-margin-x">
                        <div class="cell">
                            <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:1}" />
                        </div>
                    </div>
                </f:if>
                <div class="grid-x grid-margin-x">
                    <div class="small-12 large-3 cell">
                        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:2}" />
                    </div>
                    <div class="small-12 large-9 cell">
                        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:3}" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</f:section>

<f:section name="grid_50-50">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '0'} )}">
        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:0}" />
    </f:if>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '1'} )}">
                    <div class="grid-x grid-margin-x">
                        <div class="cell">
                            <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:1}" />
                        </div>
                    </div>
                </f:if>
                <div class="grid-x grid-margin-x">
                    <div class="small-12 large-6 cell">
                        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:2}" />
                    </div>
                    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '3'} )}">
                        <div class="small-12 large-6 cell">
                            <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:3}" />
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="grid_66-33">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '0'} )}">
        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:0}" />
    </f:if>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '1'} )}">
                    <div class="grid-x grid-margin-x">
                        <div class="cell">
                            <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:1}" />
                        </div>
                    </div>
                </f:if>
                <div class="grid-x grid-margin-x">
                    <div class="small-12 large-9 cell">
                        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:2}" />
                    </div>
                    <div class="small-12 large-3 cell">
                        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:3}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="grid_100">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '0'} )}">
        <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:0}" />
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content-dynamic', data:{pageUid: '{data.uid}', colPos: '1'} )}">
        <div class="grid-container">
            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="cell">
                    <f:cObject typoscriptObjectPath="lib.content-dynamic" data="{pageUid: '{data.uid}', colPos:1}" />
                </div>
            </div>
        </div>
    </f:if>
</f:section>